.achieve__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.achieve__item {
  position: relative;

  &:not(:last-child) {
    margin-bottom: 6px;
  }
}

.achieve__holder {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 42px;
  height: 42px;
  padding: 0;
  border: none;
  border-radius: 5px;
  background-color: var(--dark);
  text-decoration: none;

  img {
    display: block;
  }

  &--user {
    img {
      width: 24px;
      height: 24px;
      filter: drop-shadow(0 0 7px #FCFDFE);
    }
  }

  &--bird {
    img {
      width: 39px;
      height: 31px;
    }
  }

  &--300-score {
    img {
      width: 29px;
      height: 13px;
      filter: drop-shadow(0 0 7px #24C879);
    }
  }

  &--100-score {
    img {
      width: 28px;
      height: 23px;
      filter: drop-shadow(0 0 7px #29B2E6);
    }
  }

  &--cap {
    img {
      width: 28px;
      height: 23px;
      filter: drop-shadow(0 0 7px #FED888);
    }
  }
}
